.add-charges-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(145, 154, 150, 0.30);
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  position: fixed;
}

.content-modal-charges-container {
  display: flex;
  flex-direction: column;
  width: 60rem;
  height: 75.4rem;
  background-color: #FFF;
  border-radius: 3rem;
}

.modal-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5.1rem;
  padding-left: 5.7rem;
  padding-right: 2.4rem;
}

.title-modal-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.6rem;
}

.img-title-modal {
  width: 3.2rem;
  height: 3.2rem;
}

.close-modal {
  width: 3.2rem;
  height: 2.9rem;
  cursor: pointer;
}

.title-modal-text {
  color: #3F3F55;
  font-family: Montserrat;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.big-input {
  width: 100%;
  height: 4.4rem;
  border: .1rem solid #D0D5DD;
  border-radius: 8px;
  padding: 10px 14px;
  color: #9B9BB2;
  font-family: Nunito;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}

.xl-input {
  width: 100%;
  height: 8.8rem;
  border: .1rem solid #D0D5DD;
  border-radius: .8rem;
  padding: 1rem 1.4rem;
  color: #9B9BB2;
  font-family: Nunito;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  display: flex;

}

.label-input-modal {
  color: #3F3F55;
  font-family: Nunito;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
  margin-bottom: .6rem;
  margin-top: 1.6rem;

}

.radio-label {
  color: #3F3F55;
  font-family: Nunito;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
  margin-bottom: .6rem;
  margin-top: 1.6rem;
}

.radio-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4.8rem;
  background-color: #F0F0F5;
  border-radius: 1rem;
  padding-left: 1.6rem;
  gap: .8rem;
  margin-top: .8rem;
  cursor: pointer;
  position: relative;
}

.radio-container input.paid,
.radio-container input.pending {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 1.2rem;
  left: 1.6rem;
  opacity: 0;
}

.radio-container span {
  display: flex;
  align-items: center;
  gap: .8rem;
  color:#3F3F55;
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
}

.radio-container span::before,
.radio-container span::before {
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  display: block;
  align-items: center;
  background-color: #C8C8D7;
  border-radius: 50%;
}

.radio-container .paid:checked + span::before,
.radio-container .pending:checked + span::before {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='33' viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16.5' r='16' fill='%230E8750'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.7016 10.7165C24.0686 11.031 24.1016 11.5728 23.7755 11.9266L14.294 22.2123C14.1253 22.3953 13.8835 22.5 13.6296 22.5C13.3757 22.5 13.134 22.3953 12.9653 22.2123L8.22453 17.0695C7.89839 16.7156 7.93143 16.1739 8.29835 15.8594C8.66527 15.5449 9.22711 15.5767 9.55326 15.9306L13.6296 20.3527L22.4467 10.7877C22.7729 10.4339 23.3347 10.402 23.7016 10.7165Z' fill='%23F8F8F9'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: cover;
}

.radio-container .paid:focus + span::before,
.radio-container .pending:focus + span::before {
  border: 1px solid #1e1e1e;
}

.charges-btns-containers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 2.4rem;
  padding: 0 5.6rem;
  margin-top: 8rem;
}

.cancel-charges-btn {
  width: 23.3rem;
  height: 3.3rem;
  cursor: pointer;
  border-radius: 1rem;
  border: .1rem solid #DEDEE9;
  background-color: #F8F8F9;

  color: #0E8750;
  font-family: Nunito;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.apply-charges-btn {
  width: 23.3rem;
  height: 3.3rem;
  cursor: pointer;
  border-radius: 1rem;
  border: none;
  background-color: #DA0175;

  color: #F8F8F9;
  font-family: Nunito;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.error-modal-message {
  color: #E70000;
  font-family: Nunito;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.small-input-container input[type="date"],
.small-input-container input[type="number"] {
  width: 232px;
}